.calculator-display {
  height: 6rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  font-size: 1.4em;
  background-color: #000000d4;
  color: #88888888;
  flex: 1;
  outline: 2px solid #888;
}
