/* All styles for your header Components live here */

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}
.header-title h2 {
  font-size: 0.8rem;
}
.header-content {
  width: 400px;
  font-size: 0.8rem;
}

.thumbnail img {
  max-width: 60px;
  margin-top: 0.5rem;
}
